game/models/__pycache__/shape.cpython-38.pyc

.vscode/

nn_schema/

history_data/
videos_1/reinforce_v_28_12_20__10_2058.mp4
videos_1/reinforce_v_28_12_20__11_3616.mp4
videos_1/reinforce_v_28_12_20__16_2712.mp4
videos_1/reinforce_v_28_12_20__19_4451.mp4
